<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.homeria.webratioassistant.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="org.homeria.webratioassistant.commands.category"
            id="org.homeria.webratioassistant.commands.sampleCommand"
            name="WebRatio CRUD">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.homeria.webratioassistant.Launcher"
            commandId="org.homeria.webratioassistant.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.homeria.webratioassistant.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F3">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.homeria.webratioassistant.menus.sampleMenu"
               label="WebRatio Assistant"
               mnemonic="M">
            <command
                  commandId="org.homeria.webratioassistant.commands.sampleCommand"
                  icon="icons/wraicon.gif"
                  id="org.homeria.webratioassistant.menus.sampleCommand"
                  label="WebRatio Assistant v3"
                  mnemonic="S"
                  tooltip="WebRatio Assistant v3">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.homeria.webratioassistant.toolbars.sampleToolbar">
            <command
                  commandId="org.homeria.webratioassistant.commands.sampleCommand"
                  icon="icons/wraicon.gif"
                  id="org.homeria.webratioassistant.toolbars.sampleCommand"
                  tooltip="WebRatio Assistant v3">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
